<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteDB" version="5.0.8" targetFramework="net45" />
  <package id="MonoGame.Framework.WindowsDX" version="3.8.0.1641" targetFramework="net45" />
  <package id="MouseKeyHook" version="5.4.0" targetFramework="net452" />
  <package id="NAudio" version="1.8.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Thrower" version="4.3.0" targetFramework="net452" />
  <package id="Troschuetz.Random" version="4.2.0" targetFramework="net452" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net45" />
</packages>